<div class="container-fluid" data-component="customer-details">
  <div class="row customer-details">
    <div class="col-12">
      <div class="header">
        Customer Name
      </div>
      <div class="body">
        customer-details
      </div>
    </div>
  </div>
  <div class="row tabs">
      <tabset>
          <tab heading="tab1" id="tab1">
            <div class="col-12 tab-content-body">
              tab1 content
            </div>
          </tab>
          <tab heading="tab2">
            <div class="col-12 tab-content-body">
                tab2 content
              </div>
          </tab>
          <tab heading="tab3">
            <div class="col-12 tab-content-body">
              tab3 content
            </div>
          </tab>
        </tabset>
  </div>
  <div class="row buttons">
    <div class="col-3">
      <input type="button" value="export">
    </div>
    <div class="col-3">
      <input type="button" value="New Search">
    </div>
    <div class="col-3">
      <input type="button" value="Delete">
    </div>
    <div class="col-3">
      <input type="button" value="Logout">
    </div>
  </div>
</div>